<!-- Begin intro-wrapper -->
<div id="intro-wrapper">

  <!-- Begin intro-statement -->
  <div id="intro-statement">
    <h2>Build web apps beautifully and quickly</h2>
    <p>batman.js is a full-stack microframework extracted from real use and designed to maximize developer and designer happiness. It favors convention over configuration, template-less views, and high performance by simply not doing very much. It all adds up to blazingly fast web apps with a great development process; it's batman.js.</p>
    <p>Want to learn more? Check out <a href="/features.html">all the features</a> or some <a href="/examples.html">examples</a>.</p>
  </div>
  <!-- End intro-statement -->

  <!-- Begin download-box -->
  <div id="download-box">
    <a href="/download.html" class="btn-download">Download batman.js</a>
    <p>
      <span class="title">Latest version:</span> {{ site.download.version }} <br />
      <span class="title">Updated:</span> {{ site.download.date }} <br />
      <span class="title">Language:</span> CoffeeScript <br />
      <span class="title">Size:</span> 15KB gzipped
    </p>
    <p>{{ site.download.blurb }}</p>
    <a href="http://github.com/Shopify/batman/blob/master/CHANGELOG.md" class="release-links">View the release notes</a>
    <br/>
    <a href="http://github.com/Shopify/batman" class="release-links">View on GitHub</a>
  </div><div style="clear:both;"></div>
  <!-- End download-box -->

</div>
<!-- End intro-wrapper -->
