<!-- Begin intro-wrapper -->
<div id="intro-wrapper">

  <!-- Begin intro-statement -->
  <div id="intro-statement">
    <h2>Build web apps beautifully and quickly</h2>
    <p>Batman.js is a framework for building rich web applications with CoffeeScript or JavaScript. App code is concise and declarative, thanks to a powerful system of view bindings and observable properties. The API is designed with developer and designer happiness as its first priority.</p>
    <p>Want to learn more? Check out <a href="/features.html">all the features</a> or some <a href="/examples.html">examples</a>.</p>
  </div>
  <!-- End intro-statement -->

  <!-- Begin download-box -->
  <div id="download-box">
    <a href="/download.html" class="btn-download">Download batman.js</a>
    <p>
      <span class="title">Latest version:</span> {{ site.download.version }} <br />
      <span class="title">Updated:</span> {{ site.download.date }} <br />
      <span class="title">Language:</span> CoffeeScript <br />
      <span class="title">Size:</span> 15KB gzipped
    </p>
    <p>{{ site.download.blurb }}</p>
    <p>View the <a href="http://github.com/Shopify/batman/blob/master/CHANGELOG.md" class="release-links">release notes</a> or the <a href="http://github.com/Shopify/batman" class="release-links">code</a>.</p>
  </div><div style="clear:both;"></div>
  <!-- End download-box -->

</div>
<!-- End intro-wrapper -->
