/* ======== SECTION: 4.0. SCSS MIXINS ======== */
/* 4.2. Transitions */
@mixin transition($properties:all,$timing:0.3s,$transition:ease-in-out,$delay:0.0s) { -o-transition: $properties $timing $transition $delay; -webkit-transition: $properties $timing $transition $delay; -moz-transition: $properties $timing $transition $delay; }
/* 4.3. Box Shadows */
@mixin box-shadow($s1) { box-shadow:$s1; }
@mixin double-box-shadow($s1,$s2:0 0 0 rgba(0,0,0,0)) { box-shadow:$s1,$s2; }
/* 4.4. Rounded Corners */
@mixin rounded($px:3px) { border-radius:$px; }
/* 4.5. Border Radius */
@mixin border-radius($tr,$tl,$br,$bl) { border-radius:$tr $tl $br $bl; }
/* 4.6. Gradients */
@mixin gradient($color1, $color2) { background-color:$color1; background-image:-o-linear-gradient($color2, $color1); background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, $color1),color-stop(1, $color2));  background-image: -moz-linear-gradient(center bottom,$color1 0%, $color2 100%); }
@mixin gradient-with-image($image, $color1, $color2) { background-color:$color1; background-image:-o-linear-gradient($color2, $color1); background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, $color1),color-stop(1, $color2));  background-image: -moz-linear-gradient(center bottom,$color1 0%, $color2 100%); }
@mixin box-sizing($model:content-box) { -moz-box-sizing:$model; -webkit-box-sizing:$model; box-sizing:$model; }
@mixin scale($value:1.0) { -webkit-backface-visibility: hidden; -o-transform:scale($value); -webkit-transform:scale($value); -moz-transform:scale($value); transform:scale($value); }
@mixin transform-origin($x:left, $y:top) { -o-transform-origin:$x $y; -webkit-transform-origin:$x $y; -moz-transform-origin:$x $y; transform-origin:$x $y; }

/* ======== END SECTION: CUSTOM MIXINS ======== */

