/**
 * Batdocs
 * v0 - unsmacss'd
 */
/* ======== SECTION: 4.0. SCSS MIXINS ======== */
/* 4.2. Transitions */
/* 4.3. Box Shadows */
/* 4.4. Rounded Corners */
/* 4.5. Border Radius */
/* 4.6. Gradients */
/* ======== END SECTION: CUSTOM MIXINS ======== */
@font-face {
  font-family: 'MetaBook';
  src: url("fonts/metapro-book.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'MetaBook';
  src: url("fonts/metapro-normal.otf") format("opentype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'MetaBook';
  src: url("fonts/metapro-bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'MetaBook';
  src: url("fonts/metapro-book-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #444; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  font-family: metabook, sans-serif; }

::-moz-selection {
  background: #a9a9fa;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #a9a9fa;
  color: #fff;
  text-shadow: none; }

a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

input, textarea {
  font-family: metabook, sans-serif; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

body {
  background: #eeeeee url(../img/bg-texture.png); }

#expand-all-the-things {
  width: 30px;
  height: 30px;
  display: block;
  position: fixed;
  bottom: 0;
  right: 0; }
  #expand-all-the-things:hover {
    background-color: rgba(255, 235, 62, 0.5); }

.container {
  background: url(../img/faux-column.jpg) 0 0 repeat-y;
  margin: 0 0 50px 0;
  width: 80.0%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 12px 0;
  min-width: 960px; }

#back-to-top {
  display: block;
  background: #333;
  width: 50px;
  position: fixed;
  top: 0;
  right: 8%;
  text-align: center;
  padding: 3px;
  font-size: 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #111;
  color: #fff;
  text-decoration: none;
  background-color: #555555;
  background-image: -o-linear-gradient(#333333, #555555);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #555555), color-stop(1, #333333));
  background-image: -moz-linear-gradient(center bottom, #555555 0%, #333333 100%); }

h1 {
  margin-top: 0; }

a, a:visited {
  color: #000; }

a:hover {
  color: #ed5114; }

p {
  margin: 0 0 .5em 0; }

pre {
  margin: 0 0 1em 0; }

code, pre {
  font-family: 'PT Mono', monospace; }

code {
  color: #444;
  font-size: 13px;
  background: #f5f5ff;
  padding: 2px; }

div[role='main'] {
  padding: 50px;
  padding-top: 30px;
  margin-left: 280px;
  width: auto;
  float: left;
  background: #fff;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-radius: 0 0 12px 0;
  border-left: solid 1px #000;
  font-size: 15px; }
  div[role='main'] h2 {
    margin: 80px -80px 20px -12px;
    padding: 12px 12px 8px 12px;
    text-shadow: 0 -2px 0 black;
    border-bottom: solid 1px #eee;
    background: #3b3b81 url(../img/title-fluff.png) 100% 0 repeat-y;
    color: #fff; }
  div[role='main'] h3 {
    margin: 35px 0 10px 0;
    border-bottom: solid 1px #ddd;
    color: #222; }
  div[role='main'] h4 {
    margin: 25px 0 5px 0;
    color: #333; }

div[role='sidebar'] {
  width: 280px;
  height: 100%;
  font-size: 13px;
  font-weight: 200;
  float: left;
  overflow: scroll;
  top: 0;
  left: 0;
  position: fixed; }
  div[role='sidebar'] a {
    color: #f5f5ff;
    text-decoration: none; }
  div[role='sidebar'] a:hover {
    color: #fff; }
  div[role='sidebar'] form {
    padding: 20px; }
  div[role='sidebar'] input {
    font-size: 14px;
    color: #999;
    background: #fff;
    border: solid 1px #000;
    padding: 4px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

#table_of_contents {
  padding: 0;
  margin: 0;
  /* first level */
  /* second level */
  /* third level */ }
  #table_of_contents a {
    display: block;
    padding: 2px 0; }
  #table_of_contents a:hover {
    background: #3a3b63; }
  #table_of_contents ul {
    margin: 0;
    padding: 0; }
  #table_of_contents li {
    margin: 0;
    padding: 0;
    list-style: none; }
  #table_of_contents > li > ul {
    margin-top: 30px; }
  #table_of_contents > li > ul > li {
    border-bottom: solid 1px #3f3e66;
    padding: 0 0 15px 0;
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.25) inset; }
  #table_of_contents > li > ul > li > a {
    font-size: 14px;
    color: #fff;
    padding: 6px 3px 3px 20px;
    margin: 0 0 10px 0;
    background: rgba(59, 59, 128, 0.4);
    border-bottom: solid 1px rgba(0, 0, 0, 0.75); }
  #table_of_contents li li li {
    border: none;
    margin: 0;
    padding: 0;
    font-weight: 400; }
  #table_of_contents li li li a {
    font-size: 13px;
    padding-left: 20px; }
  #table_of_contents li li li a:before {
    content: '▶ ';
    font-size: 7px;
    padding-right: 3px;
    vertical-align: middle;
    color: #3b3a63; }
  #table_of_contents li li li a:hover:before {
    color: #fff; }
  #table_of_contents li li li ul {
    margin: 0 0 5px 0; }
  #table_of_contents li li li li a {
    padding-left: 35px;
    font-size: 12px; }

/**
 * Syntax Highlighting
 */
.highlight .hll {
  background-color: #ffffcc; }

.highlight {
  background: #002B36; }

.highlight .c {
  color: #999; }

/* Comment */
.highlight .err {
  color: #93A1A1; }

/* Error */
.highlight .g {
  color: #444; }

/* Generic */
.highlight .k {
  color: #859900; }

/* Keyword */
.highlight .l {
  color: #93A1A1; }

/* Literal */
.highlight .n {
  color: #93A1A1; }

/* Name */
.highlight .o {
  color: #859900; }

/* Operator */
.highlight .x {
  color: #6666de; }

/* Other */
.highlight .p {
  color: #93A1A1; }

/* Punctuation */
.highlight .cm {
  color: #586E75; }

/* Comment.Multiline */
.highlight .cp {
  color: #859900; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999; }

/* Comment.Single */
.highlight .cs {
  color: #859900; }

/* Comment.Special */
.highlight .gd {
  color: #2AA198; }

/* Generic.Deleted */
.highlight .ge {
  color: #93A1A1;
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #DC322F; }

/* Generic.Error */
.highlight .gh {
  color: #6666de; }

/* Generic.Heading */
.highlight .gi {
  color: #859900; }

/* Generic.Inserted */
.highlight .go {
  color: #444; }

/* Generic.Output */
.highlight .gp {
  color: #444; }

/* Generic.Prompt */
.highlight .gs {
  color: #444;
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #6666de; }

/* Generic.Subheading */
.highlight .gt {
  color: #444; }

/* Generic.Traceback */
.highlight .kc {
  color: #6666de; }

/* Keyword.Constant */
.highlight .kd {
  color: #268BD2; }

/* Keyword.Declaration */
.highlight .kn {
  color: #859900; }

/* Keyword.Namespace */
.highlight .kp {
  color: #859900; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #268BD2; }

/* Keyword.Reserved */
.highlight .kt {
  color: #DC322F; }

/* Keyword.Type */
.highlight .ld {
  color: #93A1A1; }

/* Literal.Date */
.highlight .m {
  color: #2AA198; }

/* Literal.Number */
.highlight .s {
  color: #2AA198; }

/* Literal.String */
.highlight .na {
  color: #444; }

/* Name.Attribute */
.highlight .nb {
  color: #d8a70f; }

/* Name.Builtin */
.highlight .nc {
  color: #268BD2; }

/* Name.Class */
.highlight .no {
  color: #6666de; }

/* Name.Constant */
.highlight .nd {
  color: #268BD2; }

/* Name.Decorator */
.highlight .ni {
  color: #6666de; }

/* Name.Entity */
.highlight .ne {
  color: #6666de; }

/* Name.Exception */
.highlight .nf {
  color: #268BD2; }

/* Name.Function */
.highlight .nl {
  color: #444; }

/* Name.Label */
.highlight .nn {
  color: #444; }

/* Name.Namespace */
.highlight .nx {
  color: #444; }

/* Name.Other */
.highlight .py {
  color: #444; }

/* Name.Property */
.highlight .nt {
  color: #268BD2; }

/* Name.Tag */
.highlight .nv {
  color: #268BD2; }

/* Name.Variable */
.highlight .ow {
  color: #859900; }

/* Operator.Word */
.highlight .w {
  color: #444; }

/* Text.Whitespace */
.highlight .mf {
  color: #2AA198; }

/* Literal.Number.Float */
.highlight .mh {
  color: #2AA198; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #2AA198; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #2AA198; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #586E75; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #2AA198; }

/* Literal.String.Char */
.highlight .sd {
  color: #444; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #2AA198; }

/* Literal.String.Double */
.highlight .se {
  color: #6666de; }

/* Literal.String.Escape */
.highlight .sh {
  color: #93A1A1; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #2AA198; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #2AA198; }

/* Literal.String.Other */
.highlight .sr {
  color: #DC322F; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #2AA198; }

/* Literal.String.Single */
.highlight .ss {
  color: #2AA198; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #268BD2; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #268BD2; }

/* Name.Variable.Class */
.highlight .vg {
  color: #268BD2; }

/* Name.Variable.Global */
.highlight .vi {
  color: #268BD2; }

/* Name.Variable.Instance */
.highlight .il {
  color: #2AA198; }

/* Literal.Number.Integer.Long */
pre {
  padding: 0; }

.in .highlight pre:before {
  color: #ccc;
  content: '>>> '; }

/** customizations to highlighting: */
.highlight {
  background: transparent; }

code pre {
  margin: 0; }

pre code {
  display: block;
  font-size: 13px;
  background: #f6f6f6;
  box-shadow: 0 -5px 5px 1px rgba(0, 0, 0, 0.04) inset;
  border: solid 1px #ddd;
  border-left: solid 5px #e2e2f2;
  padding: 20px; }

pre code .out {
  border-bottom: dashed 1px #ccc;
  padding: 0 0 10px 30px;
  margin-bottom: 10px; }

pre code .out:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0; }

div[role='main'] .console-session h4 {
  margin: 15px 0 0 0;
  padding-left: 10px;
  color: #666;
  background: #fff; }
  div[role='main'] .console-session h4.expandable {
    border-left: solid 5px #e2e2f2;
    cursor: pointer;
    padding: 4px 10px; }
    div[role='main'] .console-session h4.expandable:hover {
      color: #3B3B81;
      background: #f5f5ff; }
  div[role='main'] .console-session h4:before {
    content: '▲';
    vertical-align: middle;
    font-size: 9px;
    padding-right: 8px;
    color: #3B3B81; }
  div[role='main'] .console-session h4.snippet-closed:before {
    content: '▼';
    vertical-align: middle;
    font-size: 9px;
    padding-right: 8px;
    color: #3B3B81; }
div[role='main'] .console-session > pre:last-child {
  /* gets rid of gross whitespace on the first pre tag. weirdness */
  white-space: normal;
  background: yellow !important; }

/*
 * Helpers
 */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

