<ul>
  <li class="twitter" data-foreach-tweet="Tweet.all">
    <a class="avatar" data-bind-href="tweet.avatarLink"><img data-bind-src="tweet.profile_image_url" /></a>
    <p><strong data-bind="tweet.from_user"></strong>: <span data-bind="tweet.formatted"></span></p>
    <div class="clearfix"></div>
    
    <span class="timestamp" data-bind="tweet.timestamp"></span>
    
    <button data-event-click="tweet.newComment">new comment</button>
    <a data-visible="tweet.hasComments" data-event-click="tweet.showComments">comments</a>
  </li>
</ul>
