<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>batman.js{% if page.key or page.subkey %} &mdash; {% if page.subkey %}{{ page.subkey }}{% else %}{{ page.key }}{% endif %}{% endif %}</title>

  <!-- Begin CSS -->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/fancybox.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <!--[if !IE 7]><style type="text/css">#content-wrapper{display:table;height:100%}</style><![endif]-->
  <!-- End CSS -->

  <!-- Begin jquery -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <!-- End jquery -->

  <!-- Begin scripts -->
  <script type="text/javascript" src="http://use.typekit.com/kek3ffx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="/js/scripts.js"></script>
  <script type="text/javascript" src="/js/jquery.tweet.js"></script>
  <script type="text/javascript" src="/js/jquery.fancybox-1.3.4.js"></script>
  <script type="text/javascript" src="/js/jquery.easing-1.3.pack.js"></script>
  <!-- End scripts -->

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25319166-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body id="{% if page.key == 'overview' and page.subkey == null %}home{% else %}sub{% endif %}">

  <!-- Begin header-wrapper -->
  <div id="header-wrapper">
    <div id="header">

      <!-- Begin logo -->
      <h1 id="logo">
        <a href="/">batman.js</a>
      </h1>
      <!-- End logo -->

      <!-- Begin navigation -->
      <div id="navigation">
        <ul>
          <li {% if page.key == 'overview' %}class="active"{% endif %}><a href="/">Overview</a></li>
          <li {% if page.key == 'download' %}class="active"{% endif %}><a href="/download.html">Download</a></li>
          <li {% if page.key == 'examples' %}class="active"{% endif %}><a href="/examples.html">Examples</a></li>
          <li {% if page.key == 'documentation' %}class="active"{% endif %}><a href="/documentation.html">Documentation</a></li>
          <li {% if page.key == 'community' %}class="active"{% endif %}><a href="/community.html">Community</a></li>
        </ul>
      </div><div style="clear:both;"></div>
      <!-- End navigation -->

      {% if page.use_intro %}{% include intro.html %}{% endif %}
    </div>
  </div>
  <!-- End header-wrapper -->

  <!-- Begin content-wrapper -->
  <div id="content-wrapper">
    <div id="content">

      {% if page.use_wrapper %}
      <div class="listy" id="content-column-wrapper">
        <h2>{{ page.title }}</h2>
        <h4>posted on {{ page.date | date_to_long_string }}</h4>
      {% endif %}

        {{ content }}

      {% if page.use_wrapper %}
      </div>
      {% endif %}

    </div>
  </div>
  <!-- Begin content-wrapper -->

  <!-- Begin footer-wrapper -->
  <div id="footer-wrapper">
   <div id="footer-content">

    <ul>
      <li>
        <a class="shopify-logo" href="http://www.shopify.com" target="_blank"><img src="/images/logo-shopify.png" width="185" height="54" alt="ecommerce software" /></a>
        Copyright 2011 &ndash; Shopify. Released under the <a href="http://www.opensource.org/licenses/mit-license.php" target="_blank">MIT license</a>.<br />
        batman.js is a Shopify project, created by <a href="http://github.com/nciagra">Nick Small</a>. <a href="http://github.com/shopify/batman" class="inline-link">GitHub</a> <a href="http://twitter.com/nciagra" class="inline-link">Twitter</a></li>
    </ul>

   </div>
  </div>
  <!-- End footer-wrapper -->

<script type="text/javascript" src="http://www.observerapp.com/record.js"></script>
<script type="text/javascript">
try { Observerapp.record("4dc091148a0bee537a0225d9"); } catch(e) {};
</script>

</body>
</html>
